#Tutorial acelerado de docker compose
# O Docker compose é uma ferramenta para definir e
# executar aplicações com múltiplos contâineres.

# Todos os valores que começam com '$' são variáveis
# que variam de acordo com a instalação. Você define estes valores
# em um arquivo chamado '.env' no mesmo diretório deste arquivo.
# nota: NUNCA suba o arquivo .env para o git.

# Lista de serviços
services:
  mosquitto:
    image: "eclipse-mosquitto:2.0.22"
    ports:
      - "1883:1883"
    volumes:
      - type: bind
        source: ./mosquitto-config/
        target: /mosquitto/config/
    networks:
      - mosquitto
  mqtt-client:
    environment:
      MQTT_CLIENT_USER: ${MQTT_CLIENT_USER}
      MQTT_CLIENT_PASSWORD: ${MQTT_CLIENT_PASSWORD}
      DATABASE_URL: postgresql://root:public@postgres:5432/control_station
    build:
      context: ./mqtt_client/
    networks:
      - mosquitto
      - database
    depends_on:
      - mosquitto
      - postgres
  postgres:
    image: postgres:13
    container_name: postgres
    networks:
      - database
    environment:
      POSTGRES_PASSWORD: public
      POSTGRES_USER: root
      POSTGRES_DB: control_station
    volumes:
      - db_data:/var/lib/postgresql/data
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@admin.com
      - PGADMIN_DEFAULT_PASSWORD=admin
    ports:
      - "5050:80"
    networks:
      - database
    depends_on:
      - postgres
  api:
    build:
      context: ./api/
    networks:
      - database
    ports:
      - "127.0.0.1:8000:80"
    depends_on:
      - postgres
  frontend:
    build:
      context: ./frontend/
    ports:
      - "127.0.0.1:6767:80"
    depends_on:
      - api

networks:
  mosquitto:
  database:

volumes:
  db_data:
